@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  /* font-family: "Roboto", serif; */
  font-family: "Raleway", serif;
}
img {
  height: 400px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
